#root {
    margin: 15px;
}

.div {
    height: 3rem;
}

.div-history {
    display: flex;
    flex-direction: column;
    width: 10rem;
}
.button {
    float: left;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
}
.button-history {
    margin-top: 15px;
}
